extends layout

block content
  .container
    h1 Twitter Stock Oracle
    p Welcome to Twitter Stock Oracle
    .row
      .col-sm-12
        form(method="get").form-inline
          input.form-control(type="text" name="search" value=search)
          input.btn.btn-default(type="submit" value="Submit")
    .row
    if symbol
      .col-sm-12
        p Symbol: #{symbol}
        p Company: #{company}
        p Twitter Handle: @#{handle}
        p Total Tweets: #{count}
        canvas(id="tweetChart" width="200" height="100")
        canvas(id="stockChart" width="200" height="100")
        script.
          renderCharts(!{JSON.stringify(dates)})
    else
      p "#{search}" was an unsuccessful search: #{error}
