extends layout

block content
  h1 Twitter Stock Oracle
  p Welcome to Twitter Stock Oracle
  form(method="get")
    input(type="text" name="search" value=search)
    input(type="submit" value="Submit")
  if symbol
    p Symbol: #{symbol}
    p Company: #{company}
    p Twitter Handle: @#{handle}
    p Total Tweets: #{count}
    h2 Breakdown
    ul
      each day in dates
        li= day.date
          ul
            li Tweets: #{day.tweet_count}
            li Volume: #{day.trading_volume}
  else
    p "#{search}" was not recognized as a company
  
